@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&display=swap');
body {
    margin: 0;
    padding: 0;
  }
  


#nav {
    display:flex;
    position:absolute;
    justify-content: space-between;
    right:50px;
    
}
.navbutton{
    margin: 10px;
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*mobile version */

@media (min-width:320px) {

    #nav {
        display:flex;
        position:absolute;
        justify-content: space-between;
        right:50px;
        top:50px;
        
        
    }

   
    
    .half{
        width: 100vw;
        border-radius: 5px;
       
}
#skaneflag{
    
    margin-top: 20px;
    margin-left: 2%;
}
#wwpheading{
    padding-left:5px;


}

#headings{
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    display: flex;
    justify-content:space-between;
    
    width:100%;
    
}
#wwpcontent
{
display: inline-flex;
width:100%;
background-color:red;
font-family: "Madimi One", sans-serif;
font-size:20px;
color:yellow;
border-radius: 5px;


}
#wwdcontent{
    width:25vw;
    
    flex-grow: 1;
    
    
    
    
}
#gamelist{
    flex-grow: 1;
    width:25vw;
    
}
#wnwheading{
    font-family: "Madimi One", sans-serif;
    font-size:32px;
    color:yellow;
    width: 100%;
    background-color:hsl(227, 100%, 56%);
    margin-bottom: -22px;
    margin-top: -41px;
    height:100px;
    text-indent: 10%;
}
#whereandwhen{

    display: flex;
    background-color:hsl(227, 100%, 56%);
    font-family: "Madimi One", sans-serif;
    font-size:20px;
    color:yellow;
    height:200px;
    
}

#locationheading{
   
    margin-left:5%;
    padding:5px;
    flex-grow: 1;
}
#wnwcontent{

    flex-grow: 1;
    padding-right: 5px;
    
}

#googlemap{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#contacth{
    display: flex;
    justify-content: center;
}
#socialmedia{

    
    padding:10px;
  
}
.socialmediaicons{
    padding:10px;
    float: right;
}
#twitter{
    width:75px;
    height:75px;
}
#facebook{
    width:75px;
    height:75px;
}
#instagram{
    width:75px;
    height:75px;
}
#contactp{
    
   
   
   font-family: "Madimi One", sans-serif;
   color:yellow;

}
 

#text{
    width: 186px ;
    height:200px ; 
}


}


@media screen and (min-width: 666px){
    #headtitle {
        background-color:rgb(44, 126, 126);
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:yellow;
        width: 100vw;
        text-indent: 2%;
    }
    #nav{
        top:20px;
    }
    
    .half{
        width: 100vw;
        border-radius: 5px;

        
    }
    #headings{
        font-family: "Madimi One", sans-serif;
        font-size:35px;
        color:yellow;
        display: flex;
        justify-content:space-between;
        
        width:100%;
        
    }
    #wwpcontent
{
    display: inline-flex;
    width:100%;
    background-color:red;
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    border-radius: 5px;
    
}
    #wwdcontent{
        width:25vw;
        
        flex-grow: 1;
        
        
    }
    #gamelist{
        flex-grow: 1;
        width:25vw;
    }
    #wnwheading{
        font-family: "Madimi One", sans-serif;
        font-size:35px;
        color:yellow;
        width: 100%;
        background-color:hsl(227, 100%, 56%);
        margin-bottom: -22px;
        margin-top: -41px;
        height:100px;
        text-indent: 37%;
    }
    #whereandwhen{
   
        display: flex;
        background-color:hsl(227, 100%, 56%);
        font-family: "Madimi One", sans-serif;
        font-size:35px;
        color:yellow;
        height:270px;
        
    }
    
    #locationheading{
       
        margin-left:5%;
        padding:5px;
        flex-grow: 1;
        margin-top: 75px;
    }
    #wnwcontent{
    
        flex-grow: 1;
        margin-left:-11%;
        
        
    }
    
    #googlemap{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #contactp{
        
       padding-right:150px ;
       font-size: 150%;
       font-family: "Madimi One", sans-serif;
       color:yellow;
    
    }
     
    }
    #contactalign{
        height:400px;
        width:100%;
        background-color:red;
        font-family: "Madimi One", sans-serif;
        font-size:12px;
        color:yellow;
        border-radius: 5px;
        margin-top: 10px;
       
        
    }
    #contactform{
        
        display: flex;
        justify-content: center;
        
    }
    #text{
       
        margin-top:20px;
    }
    #email{
        width: 150px;
        height: 25px;
        margin-left:1px;
        
        
    }
    #name{
        width: 150px;
        height: 25px;
        margin-bottom: 5px;
    }
    #submit{
        color:yellow;
        background-color:hsl(227, 100%, 56%) ;
        height: 40px;
        width:150px;
        font-size:25px;
        font-family: "Madimi One", sans-serif;
        position: relative;
        left: 5px;
        bottom:5px;
        top: 2px;
        box-shadow: 1px 1px 1px hsl(227, 100%, 56%);
        display: flex;
        position: relative;
        
    }






/*PC version */
@media only screen and (min-width: 1600px){
    #nav {
        display:flex;
        position:absolute;
        justify-content: space-between;
        right:50px;
        top:20px;
        
        
    }


#headtitle {
    background-color:rgb(44, 126, 126);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:yellow;
      
}
#skaneflag{
    display: flex;
    position: absolute;
    width:5%;
    top: 70px;

}
#wwpcontent
{
    display: flex;
    
    background-color:red;
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    border-radius: 5px;
    
}



.half{
    width: 50%;
    border-radius: 5px;
    
}
#headings{
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    display: flex;
    justify-content:space-between;
    flex-direction:row-reverse;
    width:100%;
    
}
#wwpheading{
    
padding-right:140px;
    
}
#wnwheading{
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    width: 100%;
    background-color:hsl(227, 100%, 56%);
    margin-bottom: -22px;
    margin-top: -41px;
    height:100px;
    text-indent: 42%;
    
}

#whatweplay
{
    display:flex;
    
    width:100%;
    background-color:red;
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    border-radius: 5px;
}


#whereandwhen{
   
    display: flex;
    background-color:hsl(227, 100%, 56%);
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    height:200px;
    
}

#locationheading{
   
    margin-left:5%;
    padding:5px;
    flex-grow: 1;
    margin-top: 75px;
}
#wnwcontent{

    flex-grow: 1;
    margin-left:-11%;
    
    
}

#googlemap{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact{
    display:flex;
    width:100%;
    background-color:red;
    font-family: "Madimi One", sans-serif;
    font-size:35px;
    color:yellow;
    border-radius: 5px;
    
}
#contactalign{
    display:flex;
    flex-direction: column;
    padding-left:20px;
    
  
    
}
#text{
    width: 333px;
    height:200px;
   
    margin-top:5px;
}
#email{
    width: 300px;
    height: 25px;
    
}
#name{
    width: 300px;
    height: 25px;
}
#submit{
    color:yellow;
    background-color:hsl(227, 100%, 56%) ;
    height: 50px;
    width:150px;
    font-size:35px;
    font-family: "Madimi One", sans-serif;
    position: relative;
    bottom:75px;
    box-shadow: 1px 1px 1px hsl(227, 100%, 56%);
}



#socialmedia{

    float: right;
    padding:10px;
  
}
.socialmediaicons{
    padding:10px;
    
}
#twitter{
    width:75px;
    height:75px;
}
#facebook{
    width:75px;
    height:75px;
}
#instagram{
    width:75px;
    height:75px;
}
#contactp{
    font-size: 300%;
    font-family: "Madimi One", sans-serif;
   padding-right: 250px;
   color:yellow;
}
}

   